<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        Page from Heath Snoek
        </title>
  
  
  
  
  <link rel="stylesheet" href="https://heathsnoek.me/sass/main.67ce31296f0a5a04a5a36f80c08a0432cfc989d6388f1c37d898af150688862e351cb394995fc114b4d9119d706e765e277a070846d1b7d93b0488f0a83480e7.css">

  
  <link  rel="stylesheet" href="https://heathsnoek.me/sass/prism-okaidia.min.css">
  
  <meta
    name="description"
    content="" />
  <link rel="icon" type="image/png" href="/imgs/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">heathsnoek.me</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/books/">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/posts/">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/code/">Code</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/salesandmarketing/">Sales and Marketing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>





<div class="container-fluid ns-container-post-html">
  
  
  <div class="row justify-content-center pt-4">
    <div class="col-12 col-lg-7 col-xl-6">
      <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li><li class="breadcrumb-item"><a href="/code">Code</a></li><li class="breadcrumb-item"><a href="/code/golang">Golang</a></li><li class="breadcrumb-item">How to Use Go Template to Iterate Through a Map</li></ol>
</nav>

    </div>
  </div>
  
  
  <div class="row justify-content-center">
    <div class="col-11 col-sm-9 col-md-8 col-lg-6 col-xl-6">
      
<div class="container-fluid ns-container-post-html">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1>
        How to use Go html/template to iterate through a map
      </h1>
      
      <h4>
        In this example we'll use Golang's html/template package and iterate through a map in our html template.
      </h4>
      
      <p>
        You can check out a working example of this code <a href="https://go.dev/play/p/E_fJIWvX4nM" target="_blank">in the Go Playground</a>.
      </p>
      
      <p>
        Let's say we have the following structs:
      </p>
  
      <pre class="mt-5 mb-5"><code class="language-go">	type Employee struct {
		FirstName string
		LastName  string
		Email     string
	}

	type Content struct {
		Department   string
		Employees map[string]Employee
	}</code></pre>
      
      <p>
        The Content struct is what we want to display in our html template. It contains a Department string and a map containing Employees.
      </p>

      <p>
        Let's populate the struct with one department and employees:
      </p>
  
      <pre class="mt-5 mb-5"><code class="language-go">var c Content
	c.Department = "Sales"
	c.Employees = make(map[string]Employee)
	c.Employees["bSmith"] = Employee{
        FirstName: "Bob",
        LastName: "Smith",
        Email: "bob@smith.com"
        }
	c.Employees["mBrown"] = Employee{
        FirstName: "Michael",
        LastName: "Brown",
        Email: "michael@brown.com"
        }
	c.Employees["hTennenbaum"] = Employee{
        FirstName: "Harry",
        LastName: "Tennenbaum",
        Email: "harry@tennenbaum.com"
        }</code></pre>
      
      <p>
        How do we iterate through the map in our template and display each element of our struct Employees? We make use of <b>range</b>.
      </p>
  
      <pre class="mt-5 mb-5"><code class="language-markup">html := `{{define "departments"}}
&lt;ul>
  &lt;li>{{.Department}}&lt;/li>
  {{range $key, $value := .Employees}}
    &lt;li>{{$value.FirstName}} {{(index $.Employees $key).LastName}} {{$value.Email}}&lt;/li>
  {{end}}
&lt;/ul>
{{end}}`</code></pre>
     
      <p>
        We use <b>range $key, $value := .Employees</b> to get all the keys and values of the Employees map. We can then use <b>$value</b> to reference the Employee struct directly.
      </p>
  
      <pre class="mt-5 mb-5"><code class="language-handlebars">{{$value.FirstName}}</code></pre>
      
      <p>
        We can also use the <b>index</b> keyword to reference the Employee struct using the $key as our key:
      </p>
  
      <pre class="mt-5 mb-5"><code class="language-handlebars">{{(index $.Employees $key).FirstName}}</code></pre>
      
      <p>
        Using <b>index</b> is the equivalent of writing this in Go:
      </p>
  
  
      <pre class="mt-5 mb-5"><code class="language-go">c.Employees["someKey"].FirstName</code></pre>
  
      <p>
        If you have any questions with this solution, or you can see a mistake I have made, please DM me on <a href="https://twitter.com/heathsnoek" target="_blank">twitter</a>.
      </p>
      
    </div>
  </div>
  
  
</div>
    </div>
  </div>
  
  <div class="container-fluid ns-container-footer">
  <div class="row justify-content-center" style="padding-top: 70px;">
    <div class="col-6">
      Follow me on twitter <a href="https://twitter.com/heathsnoek" target="_blank">@heathsnoek</a>
    </div>
  </div>
</div>
</div>







  


</body>


<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>



<script type="text/javascript" src="/js/prism.3d4125fb06ec0db2d9eedc51a894dcc05b9fae7809bba20a9ef0ecc13fea5fa2.js"></script>


<script type="text/javascript" src="/js/prism-typescript.29ef47e7f75e0863042482beaa54d6b24fba6e27130ff52f8242217ba8e381ee.js"></script>


<script type="text/javascript" src="/js/prism-go.362d3510b1e68224f776dba45d6f826e7618e3a6c8dde8aaf743cb447853c850.js"></script>


<script type="text/javascript" src="/js/prism-markup.498391ebda61f9a206972ffbbf4ba872d0b6d04b829e382e6f46eb8c10f77928.js"></script>


<script type="text/javascript" src="/js/prism-markup-templating.349a7c6c3588c84306e5e8888f288b035a93c04dff97d1c0dbb05c20f46a1689.js"></script>


<script type="text/javascript" src="/js/prism-handlebars.2e179628ea03c54b0b2d85661a4d992d07485bb15edebc69f893727d3a1bdcc9.js"></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=G-DTMN8EZ3KZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DTMN8EZ3KZ');
</script>


</html>


